{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
        <link rel='stylesheet' type='text/css' href='{% static "rim/css/foundation/foundation.css" %}'>
        <link rel='stylesheet' type='text/css' href='{% static "rim/css/base.css" %}'>
        <link rel="stylesheet" type="text/css" href='{% static "rim/css/foundation/responsive-tables.css" %}'>
    {% endblock %}
    {% block javascript %}
        <script type='text/javascript' src='{% static "rim/js/libraries/jquery.min.js" %}'></script>
        <script type='text/javascript' src='{% static "rim/js/libraries/foundation.min.js" %}'></script>
        <script type='text/javascript' src='{% static "rim/js/libraries/responsive-tables.js" %}'></script>
        <script type='text/javascript' src='{% static "rim/js/base.js" %}'></script>
    {% endblock %}
    <title>{% block title %}{% trans 'RIM' %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>
    <div id='wrapper'>
        <div id='container'>
            {% block body %}
                {% block header %}
                    <div class='nav'>
                        <div id='title'>RIM</div>
                        <div class="title-bar" data-responsive-toggle="nav_menu" data-hide-for="medium" data-animate="slide-in-right slide-out-right">
                            <div class="title-bar-title">Menu</div>
                            <button class="menu-icon" type="button" data-toggle="nav_menu"></button>
                          </div>
                        <div id="nav_menu" data-sticky-container>
                            
                                <ul class='expanded medium-horizontal menu align-center sticky nav' data-responsive-menu="drilldown medium-dropdown" data-sticky data-margin-top="0" >
                                    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                                    <li><a href="{% url 'add' %}">{% trans 'Add' %}</a></li>
                                    <li><a href="{% url 'client_list' %}">{% trans 'Clients' %}</a></li>
                                </ul>
                           
                        </div>
                    </div>
                {% endblock %}
                {% block content %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
