{% extends "rim/base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src='{% static "rim/js/checkout.js" %}'></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "rim/css/checkout.css" %}'>
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="large-3 text-center cell">
            <input type="radio" checked=checked name="checkform" id="checkout"><label for="checkout">Checkout</label>
            <input type="radio" name="checkform" id="checkin"><label for="checkin">Check-In</label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-3 cell copyable client">
            <div class="grid-x grid-padding-x align-middle">
                <div class="shrink cell">
                    <h3>Client</h3>
                </div>
                <div class="auto cell">
                    <input id="client_clone" type="checkbox"><label for="client_clone">Copy</label>
                    <input id="client_paste" type="checkbox"><label for="client_paste">Paste</label>
                </div>
            </div>
            <div class="input_container">
                <input type="text" placeholder="{% trans 'Name or M-Number' %}"/>
            </div>
        </div>
        <div class="large-3 cell copyable barcode">
            <h3>Barcodes</h3>
            <div class="grid-x align-middle input_container">
                <div class="small-1 cell counter">
                </div>
                <div class="small-11 cell">
                    <input type="text" placeholder="{% trans 'Barcodes' %}"/>
                </div>
            </div>
        </div>
        <div class="large-3 cell copyable location">
            <div class="grid-x grid-padding-x align-middle">
                <div class="shrink cell">
                    <h3>Building</h3>
                </div>
                <div class="auto cell">
                    <input id="building_clone" type="checkbox"><label for="building_clone">Copy?</label>
                </div>
            </div>
            <div class="input_container">
                <input type="text" placeholder="{% trans 'Building' %}"/>
            </div>
        </div>
        <div class="large-3 cell copyable location room">
            <div class="grid-x grid-padding-x align-middle">
                <div class="shrink cell">
                    <h3>Room</h3>
                </div>
                <div class="auto cell">
                    <input id="room_clone" type="checkbox"><label for="room_clone">Copy?</label>
                </div>
            </div>
            <div class="grid-x align-middle input_container">
                <div class="small-11 cell">
                    <input type="text" placeholder="{% trans 'Room Number' %}"/>
                </div>
                <div class="small-1 cell">
                    <button class="button small delete">&cross;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="large-2 cell">
            <button type='submit' class='button expanded'>{% trans 'Submit' %}</button>
        </div>
    </div>
{% endblock %}
