{% extends "rim/base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src='{% static "rim/js/checkout.js" %}'></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "rim/css/checkout.css" %}'>
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="large-3 text-center cell">
            <input type="radio" checked=checked name="checkform" id="checkout"><label for="checkout">Checkout</label>
            <input type="radio" name="checkform" id="checkin"><label for="checkin">Check-In</label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-3 cell copyable barcode">
            <h3>Barcodes</h3>
            <input type="text" placeholder="{% trans 'Barcodes' %}"/>
        </div>
        <div class="large-3 cell copyable client">
            <h3>Client</h3>
            <input type="text" placeholder="{% trans 'Name' %}"/>
        </div>
        <div class="large-3 cell copyable">
            <h3>Building</h3>
            <input type="text" placeholder="{% trans 'Building' %}"/>
        </div>
        <div class="large-3 cell copyable">
            <h3>Room</h3>
            <input type="text" placeholder="{% trans 'Room Number' %}"/>
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="large-2 cell">
            <button type='submit' class='button expanded'>{% trans 'Submit' %}</button>
        </div>
    </div>
{% endblock %}
