{% extends "rim/base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "rim/css/client.css" %}'>
{% endblock %}

{% block content %}
    <div class='grid-x grid-padding-x'>
        <div class='small-7 large-7 cell'>
            <h1>{% trans 'Client List' %}</h1>
        </div>
        <div class ='small-5 large-5 cell' id="search_box">
            <form method=GET action="{% url 'client_list' %}">
                <input type='text' placeholder='{% trans "Search by Name or M-number" %}' name='search' value='{{ searchterm }}'>
                <button type='submit' class='button' value='submit'>{% trans 'Submit' %}</button>
            </form>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'M-Number' %}</th>
                    <th>{% trans 'Checkout Count' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for q in client_list %}
                    <tr>
                        <td><a href="{% url 'client' pk=q.pk %}">{{ q.name }}</a></td>
                        <td>{{ q.bpn }}</td>
                        <td>{{ q.equipment_count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>{% trans 'No Results Found' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='btm-bar-wrapper'>
        <div class='expanded align-center nav btm-bar'>
            <div class='grid-margin-x'>
                <div class='grid-x'>
                    <div class='large-3 cell auto show-for-medium'>
                        
                    </div>
                    <div class='large-6 cell auto'>
                        {% if is_paginated %}
                            <div class='page_nav'>
                                {% if page_obj.has_previous %}
                                <a class='page_link' href='?page={{ page_obj.previous_page_number }}&amp;{{ search_data.urlencode }}&amp;order={% if current_order_desc %}-{% endif %}{{ current_ordering_name }}'>Previous</a>
                                {% endif %}
                                     <div id="page_number">
                                        | Page {{ page_obj.number }} | 
                                    </div>
                                {% if page_obj.has_next %}
                                <a class='page_link' href='?page={{ page_obj.next_page_number }}&amp;{{ search_data.urlencode }}&amp;order={% if current_order_desc %}-{% endif %}{{ current_ordering_name }}'>Next</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class=' large-3 cell auto'>
                        <div class='paginate_by_sec'>
                            <form id='paginate_form'>
                                <span class='page_label'>Objects per Page</span>
                                <input id='page_input' class='page_input' type='text' name='paginate_by' value='{{ paginator.per_page }}'/>
                                <button type='submit' id='page_submit' class='button page_button' value='Submit'>Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
