{% extends "rim/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "rim/css/group.css" %}'>
{% endblock %}

{% block content %}
    <div class='grouptitle'>{{ group_title }}</div>
    <form method=POST class='groupform'>
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
            <div class='grid-x'>
                <div class='small-12 large-12 groupcell cell'>
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class='grid-x'>
            <div class='small-1 large-1 cell groupcell'>
                <button type='submit' class='button'>{% trans 'Submit' %}</button>
            </div>
        </div>
    </form>

    {% if object.pk %}
        <div class='grouptitle'>{% trans 'Equipment in this Group' %}</div>
        <table class='equipment_table'>
            <thead>
                <tr>
                    <th>
                        {% trans 'Serial No' %}
                    </th>
                    <th>
                        {% trans 'Equipment Type' %}
                    </th>
                    <th>
                        {% trans 'Manufacturer' %}
                    </th>
                    <th>
                        {% trans 'Model' %}
                    </th>
                    <th>
                        {% trans 'Location' %}
                    </th>
                    <th>
                        {% trans 'Count' %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for e in equipments %}
                    <tr>
                        <td><a href="{% url 'edit' pk=e.pk %}">{{ e.serial_no }}</a></td>
                        <td>{{ e.equipment_type.type_name }}</td>
                        <td>{{ e.manufacturer }}</td>
                        <td>{{ e.equipment_model }}</td>
                        <td>{{ e.latest_checkout.location }}</td>
                        <td>{{ e.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
