{% extends "rim/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        {% block css %}
            {{ block.super }}
            <link rel='stylesheet' type='text/css' href='{% static "rim/css/group.css" %}'>
        {% endblock %}
    </head>

    {% block content %}
        <body>
            <div class='grouptitle'>{{ group_title }}</div>
            <form method=POST class='groupform'>
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% for field in form %}
                    <div class='grid-x'>
                        <div class='small-12 large-12 groupcell cell'>
                            {{ field.label }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class='grid-x'>
                    <div class='small-1 large-1 cell groupcell'>
                        <button type='submit' class='button'>{% trans 'Submit' %}</button>
                    </div>
                </div>
            </form>
        </body>
    {% endblock %}
</html>
