{% extends "rim/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "rim/css/add.css" %}'>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        var SERIAL_NUM_CHECK_URL = "{% url 'check_serial_nums' %}";
        var json_fields = JSON.parse(unescape(`{{ form.json_fields.value | safe }}`));
    </script>
    <script type='text/javascript' src='{% static "rim/js/edit.js" %}'></script>
    <script type="text/javascript" src='{% static "rim/js/dynamic_fields.js" %}'></script>
{% endblock %}

{% block content %}
    <div class='add_title'>
        {% if object.pk %}
            {% blocktrans with equipment_name=equipment|stringformat:'s' %}
                Edit {{ equipment_name }}
            {% endblocktrans %}
        {% else %}
            {% trans 'Add an item' %}
        {% endif %}
    </div>
    <div class="grid-x grid-padding-x {% if object.pk %}edit_form{% else %}add_form{% endif %}">
        <div class="large-auto cell">
            <form method="POST" name="add_edit_form">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ form.non_field_errors }}

                {% if not object.pk %}
                    {# TODO: Look into using Foundation Grid Frames as a possibly better solution #}

                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell large-3 cell-block-y">
                            {% with field=form.visible_fields.0 %}
                                <div class='cell {% if field.field.required %}required{% endif %}'>
                                    {{ field.label_tag }}
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                            {% endwith %}
                        </div>
                        <div class="cell large-9 cell-block-y">
                            <div class="form-fields grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
                                {% for field in form.visible_fields|slice:'1:' %}
                                    <div class='cell {% if field.field.required %}required{% endif %}'>
                                        {{ field.label_tag }}
                                        {{ field.errors }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="form-fields grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
                        {% for field in form.visible_fields %}
                            <div class='cell {% if field.field.required %}required{% endif %}'>
                                {{ field.label_tag }}
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}




                <div class="button-group align-center">
                    <button type="button" class="button" onclick="addInputs('display')">{% trans 'Add Display' %}</button>
                    <button type="button" class="button" onclick="addInputs('storage')">{% trans 'Add Storage' %}</button>
                    <button type="button" class="button" onclick="addInputs('gpu')">{% trans 'Add GPU' %}</button>
                    <button type="button" class="button" onclick="addInputs('nic')">{% trans 'Add NIC' %}</button>
                </div>
                <div class='grid-x align-center'>
                    <div class='{% if not object.pk %}medium-5{% endif %} large-5 small-12 cell'>
                        <button class='button expanded' id="submit_button" onclick="submitAddEditForm()">{% trans 'Submit' %}</button>
                    </div>
                </div>
            </form>
        </div>
        {% if object.pk %}
            <div class="large-3 cell">
                <div class="grid-y medium-grid-frame grid-padding-x grid-padding-y">
                    <div class="cell shrink">
                        <button type='submit' class='button expanded'>{% trans 'Checkout' %}</button>
                    </div>
                    <div class="cell large-auto medium-cell-block-container">
                        <div class="cell medium-12 medium-cell-block-y">
                            <h3>History</h3>
                            {% for checkout in object.checkout_set.all %}
                                <p class="checkout">
                                    {{ checkout.client }}<br>
                                    {{ checkout.timestamp }}<br>
                                    {{ checkout.location }}<br>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
