{% extends "rim/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        {% block css %}
            {{ block.super }}
            <link rel='stylesheet' type='text/css' href='{% static "rim/css/group.css" %}'>
        {% endblock %}
    </head>

    {% block content %}
        <body>
            <div class='grid-x'>
                <div class='small-8 large-8 cell'>
                    <div class='grouptitle'>Group List</div>
                </div>
            </div>
                <div class='group-list'>
                    {% for object in object_list %}
                        <a href='{% url "editgroup" pk=object.pk %}'>
                            <div class='grid-x'>
                                <div class='small-12 large-12 groupcell cell'>
                                    {{ object.name }}
                                </div>
                            </div>
                        </a>
                        <hr>
                    {% endfor %}
                    <div class='grid-x'>
                        <div class='small-12 large-12 groupcell cell'>
                            <a href='{% url "addgroup" %}'><div>Add a Group</div></a>
                        </div>
                    </div>
                </div>
        </body>
    {% endblock %}
</html>
