{% extends "rim/base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "rim/css/home.css" %}'>
{% endblock %}

{% block content %}
    {% include 'rim/includes/search.html' %}
    <table>
        <thead>
            <tr>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='latest_checkout__timestamp' title='Date Checked Out' %}
                </th>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='latest_checkout__location' title='Location' %}
                </th>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='serial_no' title='Serial No.' %}
                </th>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='equipment_type__type_name' title='Equipment Type' %}
                </th>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='manufacturer' title='Manufacturer' %}
                </th>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='equipment_model' title='Model' %}
                </th>
                <th>
                    {% include 'rim/includes/header_link.html' with ordering='count' title='Count' %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for e in equipment_list %}
                <tr>
                    <td>
                        {% if e.latest_checkout == None %}
                            &nbsp;
                        {% else %}
                            {{ e.latest_checkout.timestamp }}
                        {% endif %}
                    </td>
                    <td>{{ e.latest_checkout.location }}</td>
                    <td><a href="{% url 'edit' pk=e.pk %}">{{ e.serial_no }}</a></td>
                    <td>{{ e.equipment_type.type_name }}</td>
                    <td>{{ e.manufacturer }}</td>
                    <td>{{ e.equipment_model }}</td>
                    <td>{{ e.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
