.add_title {
    margin-left: 1.5em;
    margin-top: 0.3em;
    font-size: 3em;
}

.required label {
    font-weight: bold;
}

.add_form #id_serial_no {
    height: 15em;
}

@media only screen and (max-width: 769px){
    .add_title {
        margin-left: 0px;
        text-align: center;
    }
}

.checkout {
    border: 1px solid black;
    padding: 1em;
}
