.additiontitle {
    margin-left:1.5em;
    margin-top:1.5em;
    font-size: 3em;
}

.addform {
    padding: 2em;
    padding-top:1em;
}

.addcell {
    padding: .5em;
}

.required label {
    font-weight: bold;
}

.checkout {
    border: 1px solid black;
    padding: 1em;
}
