.addtitle {
    margin-left:1.5em;
    margin-top:1.5em;
    font-size: 3em;
}

.addform {
    padding: 2em;
    padding-top:1em;
}

.addcell {
    padding: .5em;
}

.button {
    margin-left: 2em;
    margin-top: 2em;
}

.required label {
    font-weight: bold;
}
