body {
    background-color: #BFCED6;
    height: 100vh;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
}

#container {
    width: 70%;
    margin:auto;
    border: 1px solid black;
    background-color: white;
}

.nav, .title-bar,.is-drilldown ul li a {
    background-color: #5E0009;
    color: white;
    font-family: freight-text-pro, serif;
}

#title {
    font-family: freight-text-pro, serif;
    font-size: 3em;
    text-align: center;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.menu a {
    color: white;
    width: 100%;
    text-align: center;
}

.menu li {
    border-top: 1px solid black;
}

.menu li:hover {
    background-color: #425563;
    cursor: pointer;
}

.page_label {
    font-size: .6em;
}

.page_input {
    width: 20%;
    display: inline;
}

.page_button {
    margin-top: .5em;
    margin-left: 1em;
}

.page_nav {
    padding-left: 35%;
    padding-top: .5em;
}

.page_link {
    width: 15%;
}

.btm-bar {
    position: fixed;
    bottom: 0;
    width: 70%;
    height: 5%;
}

.btm-bar-wrapper {
    width: 100%;
    height: 70px;
}

.button {
    background-color: #6BA4B8;
    
}

.button:hover, .button:focus {
    background-color: #0093B2;
}

img {
    width: 15%;
    height: auto;
}

a {
    color: #0093B2;
}

a:hover, a:focus {
    color: #6BA4B8;
}

.title-bar {
    justify-content: flex-end;
}
.is-drilldown ul {
    flex-direction: column;

}

@media only screen and (max-width: 1234px){
    #container{
        min-width: 100vw;
        padding: 3px;
    }
    table.responsive th {
        white-space: inherit;
    }
}
