body {
    background-color: #BFCED6;
    height: 100vh;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

a {
    color: #0093B2;
}

a:hover, a:focus {
    color: #6BA4B8;
}

.btm-bar .grid-margin-x .grid-x .cell, .page_nav {       
    display: flex;
    justify-content: center;
}

.btm-bar {
    position: fixed;
    bottom: 0;
    width: 70%;
    max-height: 55px;
    font-size: 1.1em;
}

button {
    outline: none; 
}

.button {
    background-color: #6BA4B8;   
}

.button:hover, .button:focus {
    background-color: #0093B2;
}

#container {
    width: 70%;
    margin:auto;
    border: 1px solid black;
    background-color: white;
}

.grid-margin-x {
    margin: 0;
}

.is-drilldown ul {
    flex-direction: column;
}

img {
    width: 15%;
    height: auto;
}

.login_title {
    padding-bottom: 0.5em;
    font-size: 2.5em;
}

.login_form {
    padding: 2em;
    padding-top:1em;
}

.logout {
    margin-top: 5px;
    margin-right: 7px;
    position: absolute;
    right: 0;  
}

.menu a {
    color: white;
    width: 100%;
    text-align: center;
}

.menu li {
    border-top: 1px solid black;
}

.menu li:hover {
    background-color: #425563;
    cursor: pointer;
}

.nav, .title-bar,.is-drilldown ul li a, .logout a, #search_fields_button {
    background-color: #5E0009;
    color: white;
    font-family: freight-text-pro, serif;
}

#page_number {
    margin-left: 3px;
    margin-right: 3px;
}

#page_submit {
    margin-right: 10px;
}

#paginate_form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1em;
}

.page_label {
    font-size: .8em;
    align-self: center;
    padding: 2px;
}

.page_input {
    width: 20%;
    display: inline;
    align-self: flex-end;
}

.page_button, .export_button {
    margin-top: .5em;
    margin-left: 1em;
}

.page_nav {
    font-size: 1.1em;
}

#title {
    font-family: freight-text-pro, serif;
    font-size: 3em;
    min-height: 50px;
    text-align: center;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.title-bar {
    justify-content: flex-end;
    height: 0px;
}
.title-bar-title, .menu-icon {
    padding-right: 0;
    margin-bottom: 15px;
    margin-right: 0px !important;
}

#topnav {
    position: relative;
}


@media only screen and (max-width: 1268px){

    .btm-bar {
        width: 99%;
    }

    #container{
        min-width: 100vw;
        padding: 3px;
    }

    #search_fields_button{
        margin-top: 3px;
        padding: 0;
        height: 0;
        font-size: 0.8em;
        font-weight: bold;
    }

    #search_fields_toggle_bar{
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 769px){

    body {
         line-height: normal; 
    }
    
    .btm-bar {
        position: inherit;
        width: 100%;
    }

    .btm-bar .cell{
        display: flex;
        justify-content: center;
    }

    .large-3.cell.auto.show-for-medium {
        flex-grow: 0.5;
    }

    .page_nav{
        display: flex;
        margin-bottom: 10px;
        font-size: 1.1em;
    }

    #title {
        font-family: freight-text-pro, serif;
        font-size: 9vw;
    }
    
}

@media only screen and (max-width: 520px){
    .btm-bar .grid-margin-x .grid-x {
        display: block;
        background-color: #5E0009;
    }
    
}

@media only screen and (min-height: 768px){
    .btm-bar {
        height: 7vh;
    }
}
