body {
    background-color: #BFCED6;
    height: 100vh;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
}

#container {
    width: 70%;
    margin:auto;
    border: 1px solid black;
    background-color: white;
}

.nav {
    background-color: #5E0009;
    color: white;
    font-family: freight-text-pro, serif;
}

#title {
    font-family: freight-text-pro, serif;
    font-size: 3em;
    text-align: center;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.menu a {
    color: white;
    width: 100%;
    text-align: center;
}

.menu li {
    border-top: 1px solid black;
}

.menu li:hover {
    background-color: #425563;
    cursor: pointer;
}

.page_label {
    font-size: .6em;
}

.page_input {
    width: 20%;
    display: inline;
}

.page_button {
    margin-top: .5em;
    margin-left: 1em;
}

.page_nav {
    padding-left: 35%;
    padding-top: .5em;
}

.page_link {
    width: 15%;
}

.btm-bar {
    position: fixed;
    bottom: 0;
    width: 70%;
    height: 5%;
}

.btm-bar-wrapper {
    width: 100%;
    height: 70px;
}

.button {
    background-color: #6BA4B8;
}

.button:hover, .button:focus {
    background-color: #0093B2;
}

img {
    width: 15%;
    height: auto;
}

a {
    color: #0093B2;
}

a:hover, a:focus {
    color: #6BA4B8;
}

.login_title {
    padding-bottom: 0.5em;
    font-size: 2.5em;
}

.login_form {
    padding: 2em;
    padding-top:1em;
}

.logout {
    padding-right: 1em;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#topnav {
    position: relative;
}
