.focused {
    background-color: #e6e6e6;
}

[type='text']:focus {
    border: 1px solid #9CEB31;
}

.barcode {
    counter-reset: row_num;
}

.client .counter {
    counter-increment: row_num;
}

.client .counter:before {
    content: counter(row_num);
}

.copyable input[type=text], .copyable .delete {
    margin: 0;
}

button[type=submit] {
    margin-top: 1rem;
}

.duplicate, .duplicate:focus {
    background-color: #E7684D;
}
