.asc:after {
    content: " \02191";
}

.desc:after {
    content: " \02193";
}

.equipment_table {
    height: 80%;
    overflow-y: scroll;
}

.export_button {
    padding-left: 30%;
    padding-top: .5em;
}
